body {
    font-size: 20px;
    font-family: sans-serif;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 1.5s, visibility 1.5s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  .awalan{
    text-align: center;
    font-size: 60px;
  }
  .awalan1{
    text-align: center;
    font-size: 30px;
  }
  .div1{
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .textdiv1{
    margin-left: 100px;
  }
  .img1{
    width: 25%;
    height: 25%;
  }
  .div2{
    font-size: 20px;
    display: flex;
    color: white;
    background-color: #ff66c9;
  }
  .textdiv2{
    margin-right: 100px;
  }
  .img2{
    width: 25%;
    height: 25%;
  }
  .div3{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
    background-color: #87ae73;
  }
  .div4{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: palevioletred;
    background-color: #d6d696;
  }
  .div5{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
    background-color: #ff6682;
  }
  .div6{
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
    background-color: #90EE90;
  }
  .div7{
    font-size: 20px;
    align-items: center;
    color: white;
    background-color: red;
  }
  .img7{
    background-color: red;
    width: 34%;
    height: 53%;
  }
  .text7{
    margin-left: 100px;
    margin-right: 100px;
  }
  .divred{
    color: white;
    background-color: red;
    width: 100%;
  }
  .countdown{
    margin-left: 500px;
    display: flex;
  }
  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  .time h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
  }
  .sunnydays{
    text-decoration: none;
    font-size: 50px;
    color: white;
  }


  